<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>621558975147-4gnnrqi4ok38gs2ltl2t6r3qacrbri7o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.621558975147-4gnnrqi4ok38gs2ltl2t6r3qacrbri7o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>621558975147-rhj0ntu1lfi5p1h1u5mds9a5lv7gcjhv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBXIu4axPc7jBKzh2JLHk7_wzxedD4L-Qs</string>
	<key>GCM_SENDER_ID</key>
	<string>621558975147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.VibeSea</string>
	<key>PROJECT_ID</key>
	<string>vibesea-d683e</string>
	<key>STORAGE_BUCKET</key>
	<string>vibesea-d683e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:621558975147:ios:aeced5451c845749f3c5ee</string>
</dict>
</plist>